




body {
    animation: pulse 10s infinite;
	animation-iteration-count:100;


}
@keyframes pulse {

	0% {
    background-color: #001F3F;
    }
    20% {
    background-color: #00ff00;
	}
	30% {
    background-color: #ccff99;
	}
	40% {
    background-color: #00ccff;
	}
	50% {
    background-color: #993399;
	}
  60% {
    background-color: #FF4136;
  }
    70% {
    background-color: #006666;
  }
  	80% {
    background-color: #cc00cc;
	}
	90% {
    background-color: #ff9933;
	}
	100% {
    background-color: #000099;
	}
}








button {
  height: 50px;
  height: 25px;
  color: white;
  text-shadow: 1px 1px 2px green, 0 0 25px darkblue, 0 0 5px darkgreen;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
#tag-clickable {
  position: absolute;
  top: 20px;
  left: 75px;
  border: 4px solid green;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
#b-tag-clickable {
  border: 1px groove black;
  position: absolute;
  top: 350px;
  left: 720px;
  font-size: 500%;

}
#li-tag-titleunline {
  border: 1px groove grey:
  position: absolute;
  top:

}
#menu-webpage {
  background-color: lightgreen;
  color: green;
  padding: 15px;
  display: block;
  text-decoration: none;
  position: absolute;
  top:0px;
  left:1650px;
  width: 200px;
    width: 200px;
      border: 2px groove black;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;

}
#menu-webpage a {
  background-color: #eee;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  display: block;
  text-decoration: none;
  border: 2px groove black;
}
#menu-webpage a:hover {
  border: 2px groove black;
  font-size: 25px;
}
#menu-webpage a:active {
  border: 2px groove black;
  font-size: 15px;
  font: orange;
}
#unline-menu-text {
  border: 4px groove black;
  position: absolute;
  top: 325px;
  left: 1665px;
  font-family: Arial, Helvetica, sans-serif;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}
#untitle-text {
  position: relative;
  top: 450px;
  left: 800px;

}
#btn-login-label {
  position: realtive;
  top: 320px;
  left: 800px;
}
